html {
  background: black;
}

body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  color: white;
  font-family: 'Tinos', serif;

}

noscript {
  color: white;
}

#game-container {
  /* desktop */
  width: 800px;
  height: 600px;
  background: #333;
  margin: auto;
  position: relative;
}

.blue {
  background-color: #0843baeb;
}

div {
  padding: 10px;
  position: relative;
  margin: auto;
  width: fit-content;
}

.title {
  border-radius: 4px;
  font-size: 32px;
  text-shadow: 2px 2px #333;
}

.title::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
  background-color: #333;
  opacity: 0.65;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  left: 0px;
  top: 0px;
}

button {
  background-color: #0843baeb;;
  padding: 5px 10px;
  position: relative;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: 1px 1px grey;

}
